{% extends 'base.html' %}
{% load static %}

{% block title %}
  Create Recipe - Scrumptious Recipes
{% endblock title %}

<body>
  {% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Main Page</a>
      <a href="{% url 'create_recipe' %}">Create Recipe</a>
    </nav>
  </header>
  <main>
    <h1>Create a recipe!</h1>
    <br>
    <div class="form-grid">
      <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
    <br>
    <button>Create!</button>
      </form>
    </div>
  </main>
  {% endblock content %}
</body>
