{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

<body>
  {% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Main Page</a>
      <a href="{% url 'create_recipe' %}">Create Recipe</a>
      <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
    </nav>
  </header>
  <main>
    <h1> {{ recipe_object.title }}</h1>
    <br>
    <h3> Uploaded on {{ recipe_object.created_on|date:'F d, Y'}} </h3>
    {% if recipe_object.author != None %}
    <h3>by {{ recipe_object.author }}</h3>
    {% else %}
    <h3>anonymous</h3>
    {% endif %}
    <br>
    <img src="{{ recipe_object.picture }}" alt="Tacos IMG">
    <div>{{ recipe_object.rating }}</div>
    <br>
    <p>{{ recipe_object.description }}</p>
    <br>
    <h2>Ingredients</h2>
    <table class="row-highlight">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Food Item</th>
        </tr>
      </thead>
      <tbody>
      {% for ingredient in recipe_object.ingredients.all %}
        <tr>
          <td>{{ ingredient.amount }}</td>
          <td>{{ ingredient.food_item }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <h2>Steps</h2>
    <ol class="step-list">
      {% for step in recipe_object.steps.all %}
        <li>{{ step.instruction }}</li>
      {% endfor %}
    </ol>
  </main>
  {% endblock content %}
</body>
