{% extends 'base.html' %}
{% load static %}

{% block title %}
  Edit {{ recipe.title }} - Scrumptious Recipes
{% endblock title %}

<body>
  {% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Main Page</a>
      <a href="{% url 'create_recipe' %}">Create Recipe</a>
    </nav>
  </header>
  <main>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Save</button>
    </form>
  </main>
  {% endblock content %}
</body>
