{% extends "base.html" %}

{% block title %}
  Scrumptious Recipes
{% endblock title %}

<body>
  {% block content %}
  <header>
    <nav>
      <a href="{% url 'recipe_list' %}">Main Page</a>
      {% if user.is_authenticated %}
      <a href="{% url 'create_recipe' %}">Create Recipe</a>
      {% endif %}

      {% if user.is_authenticated %}
      Hello, {{ user.username }}!
      <a href="{% url 'user_logout' %}">Log out</a>
      <a href="{% url 'my_recipe_list' %}">My recipes</a>
      {% else %}
      <a href="{% url 'signup' %}">Sign up</a>
      <a href="{% url 'user_login' %}">Log in</a>
      {% endif %}

    </nav>
  </header>
  <main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat!</h2>
    <div class="recipe-pic-palette">
    {% for recipe in recipe_list %}
      <div class="recipe-pic-palette-item" onclick='location.href ="{% url "show_recipe" recipe.id %}";'>
        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
        <br>
        <img src="{{ recipe.picture }}" alt="Vegetarian Tacos IMG">
        <div>{{ recipe.rating }}</div>
      </div>
    {% endfor %}
    </div>
    <br>
    <p>Congratulations! You've uploaded {{ recipe_list|length }} recipes so far. Keep it up!</p>
  </main>
  {% endblock content %}
</body>
