@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Color Theme Swatches in Hex */
@Blue-glitter-banner-1-hex: #025159;
@Blue-glitter-banner-2-hex: #3E848C;
@Blue-glitter-banner-3-hex: #7AB8BF;
@Blue-glitter-banner-4-hex: #C4EEF2;
@Blue-glitter-banner-5-hex: #A67458;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #3E848C;
}

h1 {
  padding: 20px 0 20px 0;
}

h2 {
  padding: 20px 0 20px 0;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: end;
  gap: 15px;
  padding: 16px;
  border-bottom: 1px solid black;
  background-color: #025159;
  color: #C4EEF2;
}

nav a {
  color: #C4EEF2;
}

main {
  padding: 16px;
  margin: 0 0 20px 0;
}

img {
  height: 200px;
}

footer {
  font-size: 24px;
  padding: 24px 16px 24px 16px;
  position: sticky;
  bottom: 0%;
  border: 1px solid black;
  background-color: #7AB8BF;
}

.recipe-pic-palette {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

}

.recipe-pic-palette-item {
  padding: 15px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.recipe-pic-palette-item:hover {
  border: 1px solid black;
  box-shadow: none;
  cursor: pointer;
}

.row-highlight tr:nth-child(even) {
  background-color: rgba(173, 216, 230, 0.747);
}

.step-list {
  padding: 0 3rem;
}

button {
  height: 50px;
  width: 150px;
}
button:hover {
  background-color: #025159s;
  cursor: pointer;
}

div.form-grid form p {
  display: grid;
  grid-template-columns: 200px 300px;
  padding: 8px;
}

div.form-grid form p input, textarea {
  border: 2px solid black;
}
/* div.form-grid form p textarea {
  border: 2px solid black;
} */
